@import 'https://fonts.googleapis.com/css?family=Roboto&display=swap';
@import "normalize";
@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";

body {
  font-size: 12px;
  font-family: Roboto, sans-serif;
}

.excel {
  position: relative;
  max-width: 100%;
  height: 100%;
  color: #888;
  font-size: .8rem;
}


